* {
    background-color: rgb(41, 47, 54);
    color: rgb(255, 255, 255);
}
html {
    position: static;
    scroll-behavior: smooth;
    height: 100%;
    font-size: 1em;
}
body {
    background-color: rgb(26, 29, 34);
    min-height: 100vh;
    margin: 0; 
    padding: 1em;
}
.wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 1em;
    width: 85%;
    height: 49em;
    border: 0.1em solid grey;
    border-radius: 1em;
}
.slider {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
}
.wrapper-text {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    height: 5em;
}
.text {
    width: 65%;
    margin: 0.3em 0;
    font-size: 2em;
    text-align: inherit;
    align-self: center;
}
.img {
    border-radius: 1em;
    object-fit: contain;
    margin: 0 auto auto;
    width: 100%;  
} 

/* ///////// */
.button-container {
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
    justify-content: end;
    height: 5em;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
}
.btn {
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 0.2em solid rgb(75, 125, 243);
    color: rgb(47, 51, 55);
    transition: 1s;
}
.btn-round-2,
.btn-round-3,
.btn-round-4,
.btn-round-5 {
    border: 0.2em solid rgb(75, 125, 243);
    background-color: rgb(75, 125, 243);
    color: rgb(75, 125, 243);
    transition: 0.6s;
}
.button-wrapper:hover,
.button-wrapper:hover .btn {
    cursor: pointer;
}
.btn-round-1:hover {
    border: 0.2em solid rgb(255, 255, 255);
}
.btn-round-2:hover,
.btn-round-3:hover,
.btn-round-4:hover,
.btn-round-5:hover {
    border: 0.2em solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 0.6s;
}